cryptography
pyperclip
Pillow
reportlab
networkx
matplotlib
scipy
qrcode[pil]
pyzbar
requests
ddgs
squarify
psutil
requests
python-whois
networkx
matplotlib
python-nmap
pywifi
scapy
pandas
seaborn
PyYAML